<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="CSharkServer.CSharkServiceImpl">
        <endpoint address="net.tcp://localhost:8080/CSharkService"
                  binding="netTcpBinding"
                  bindingConfiguration="BindingConfiguration"
                  name="CSharkServiceEndpoint"
                  contract="CSharkLibrary.ICSharkService">
        </endpoint>
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="BindingConfiguration"
                 transferMode="Buffered" />
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>