<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="CSharkServer.CSharkServiceImpl">
        <endpoint address="net.tcp://localhost:8080/CSharkService"
                  binding="netTcpBinding"
                  bindingConfiguration="BindingConfiguration"
                  name="CSharkServiceEndpoint"
                  contract="CSharkLibrary.ICSharkService">
        </endpoint>
        <!--<endpoint address="net.tcp://localhost:8080/CSharkFile"
                  binding="netTcpBinding"
                  bindingConfiguration="FileBindingConfiguration"
                  name="CSharkFileEndpoint"
                  contract="CSharkLibrary.ICSharkService">
        </endpoint>-->
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="BindingConfiguration"
                 maxBufferSize="2147483647"
                 maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647"
                 transferMode="Buffered"
                  />
      </netTcpBinding>
      <!--<netTcpBinding>
        <binding name="FileBindingConfiguration"
                 transferMode="Streamed"
                 sendTimeout="00:10:00"
                 closeTimeout="00:01:00"
                 openTimeout="00:10:00" />
      </netTcpBinding>-->
    </bindings>
  </system.serviceModel>
</configuration>